<%- include('common/head')%>
<!-- ======== Preloader =========== -->
<div id="preloader">
  <div class="spinner"></div>
</div>
<!-- ======== Preloader =========== -->

<%- include('common/sidebar')%>

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
  <%- include('common/navbar')%>

  <!-- ========== signin-section start ========== -->
  <section class="signin-section">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#0">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#0">Auth</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Sign in
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->

      <div class="row g-0 auth-row">
        <div class="col-lg-6">
          <div class="auth-cover-wrapper bg-primary-100">
            <div class="auth-cover">
              <div class="title text-center">
                <h1 class="text-primary mb-10">Reset Password</h1>
                <p class="text-medium">
                  Reset to continue your Existing account to
                </p>
              </div>
              <div class="cover-image">
                <img src="assets/images/auth/signin-image.svg" alt="" />
              </div>
              <div class="shape-image">
                <img src="assets/images/auth/shape.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
        <div class="col-lg-6">
          <div class="signin-wrapper">
            <div class="form-wrapper">
              <h6 class="mb-15">Forget Password Form</h6>
              <p class="text-sm mb-25">
                Start creating the best Password Form.
              </p>
              
              <form action="/resetpassword" method="post">
                <div class="row">
                  <div class="col-12">
                    <div class="input-style-1">
                      <label>Name</label>
                      <input
                        type="name"
                        name="name"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-12">
                    <div class="input-style-1">
                      <label>Email</label>
                      <input type="email" name="email" placeholder="Email" />
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-12">
                    <div
                      class="button-group d-flex justify-content-center flex-wrap"
                    >
                      <button
                        class="main-btn primary-btn btn-hover w-100 text-center"
                      >
                        verified Your Self
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end row -->
              </form>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  </section>
  <!-- ========== signin-section end ========== -->

  <%- include('common/footer')%>
</main>
<%- include('common/foot')%>
