<%- include('common/head')%>
<!-- ======== Preloader =========== -->
<div id="preloader">
  <div class="spinner"></div>
</div>
<!-- ======== Preloader =========== -->

<%- include('common/sidebar')%>

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
  <%- include('common/navbar')%>

  <!-- ========== tab components start ========== -->
  <section class="tab-components">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>Form Elements</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#0">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#0">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Banner Elements
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->

      <!-- ========== form-elements-wrapper start ========== -->
      <div class="form-elements-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <!-- input style start -->
            <form action="/newdisease/create" method="post">
              <div class="card-style mb-30">
                <h6 class="mb-25">Input Fields</h6>
                <div class="input-style-1">
                  <label>Banner Title</label>
                  <input type="text" placeholder="Banner Title" name="title" />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Banner Title</label>
                  <input
                    type="text"
                    placeholder="Banner Title"
                    name="sub_title"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Banner Description</label>
                  <textarea
                    placeholder="Add Description"
                    name="description"
                    rows="5"
                  ></textarea>
                </div>
                <!-- end textarea -->
                <div class="input-style-1">
                  <label>Treatment Title</label>
                  <input
                    type="text"
                    placeholder="Treatment Title"
                    name="treatment"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Specialities Title</label>
                  <input
                    type="text"
                    placeholder="Specialities Title"
                    name="specialities"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>About Title</label>
                  <input
                    type="text"
                    placeholder="About Title"
                    name="about_title"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>About Disease</label>
                  <input
                    type="text"
                    placeholder="About Disease"
                    name="about_disease"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Risk Factor</label>
                  <input
                    type="text"
                    placeholder="Risk Factor"
                    name="risk_factor"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-1</label>
                  <input
                    type="text"
                    placeholder="Disease Point-1"
                    name="disease_point1"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-2</label>
                  <input
                    type="text"
                    placeholder="Disease Point-2"
                    name="disease_point2"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-3</label>
                  <input
                    type="text"
                    placeholder="Disease Point-3"
                    name="disease_point3"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-4</label>
                  <input
                    type="text"
                    placeholder="Disease Point-4"
                    name="disease_point4"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-5</label>
                  <input
                    type="text"
                    placeholder="Disease Point-5"
                    name="disease_point5"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-6</label>
                  <input
                    type="text"
                    placeholder="Disease Point-6"
                    name="disease_point6"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-7</label>
                  <input
                    type="text"
                    placeholder="Disease Point-7"
                    name="disease_point7"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-8</label>
                  <input
                    type="text"
                    placeholder="Disease Point-8"
                    name="disease_point8"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-9</label>
                  <input
                    type="text"
                    placeholder="Disease Point-9"
                    name="disease_point9"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-10</label>
                  <input
                    type="text"
                    placeholder="Disease Point-10"
                    name="disease_point10"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-11</label>
                  <input
                    type="text"
                    placeholder="Disease Point-11"
                    name="disease_point11"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Disease Point-12</label>
                  <input
                    type="text"
                    placeholder="Disease Point-12"
                    name="disease_point12"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms Title</label>
                  <input
                    type="text"
                    placeholder="Symptoms Title"
                    name="symptoms_title"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 1</label>
                  <input
                    type="text"
                    placeholder="Symptoms 1"
                    name="symptoms_1"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 2</label>
                  <input
                    type="text"
                    placeholder="Symptoms 2"
                    name="symptoms_2"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 3</label>
                  <input
                    type="text"
                    placeholder="Symptoms 3"
                    name="symptoms_3"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 4</label>
                  <input
                    type="text"
                    placeholder="Symptoms 4"
                    name="symptoms_4"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 5</label>
                  <input
                    type="text"
                    placeholder="Symptoms 5"
                    name="symptoms_5"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 6</label>
                  <input
                    type="text"
                    placeholder="Symptoms 6"
                    name="symptoms_6"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 7</label>
                  <input
                    type="text"
                    placeholder="Symptoms 7"
                    name="symptoms_7"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 8</label>
                  <input
                    type="text"
                    placeholder="Symptoms 8"
                    name="symptoms_8"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 9</label>
                  <input
                    type="text"
                    placeholder="Symptoms 9"
                    name="symptoms_9"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Symptoms 10</label>
                  <input
                    type="text"
                    placeholder="Symptoms 10"
                    name="symptoms_10"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication Title</label>
                  <input
                    type="text"
                    placeholder="Complication Title"
                    name="complication_title"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 1</label>
                  <input
                    type="text"
                    placeholder="Complication 1"
                    name="complication_1"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 2</label>
                  <input
                    type="text"
                    placeholder="Complication 2"
                    name="complication_2"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 3</label>
                  <input
                    type="text"
                    placeholder="Complication 3"
                    name="complication_3"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 4</label>
                  <input
                    type="text"
                    placeholder="Complication 4"
                    name="complication_4"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 5</label>
                  <input
                    type="text"
                    placeholder="Complication 5"
                    name="complication_5"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 6</label>
                  <input
                    type="text"
                    placeholder="Complication 6"
                    name="complication_6"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 7</label>
                  <input
                    type="text"
                    placeholder="Complication 7"
                    name="complication_7"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 8</label>
                  <input
                    type="text"
                    placeholder="Complication 8"
                    name="complication_8"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 9</label>
                  <input
                    type="text"
                    placeholder="Complication 9"
                    name="complication_9"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Complication 10</label>
                  <input
                    type="text"
                    placeholder="Complication 10"
                    name="complication_10"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Healthy Title</label>
                  <input
                    type="text"
                    placeholder="Healthy Title"
                    name="healthy_title"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Healthy Tips-1</label>
                  <input
                    type="text"
                    placeholder="Healthy Tips-1"
                    name="healthy_tips1"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Healthy Tips-2</label>
                  <input
                    type="text"
                    placeholder="Healthy Tips-2"
                    name="healthy_tips2"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Healthy Tips-3</label>
                  <input
                    type="text"
                    placeholder="Healthy Tips-3"
                    name="healthy_tips3"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Healthy Tips-4</label>
                  <input
                    type="text"
                    placeholder="Healthy Tips-4"
                    name="healthy_tips4"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Healthy Tips-5</label>
                  <input
                    type="text"
                    placeholder="Healthy Tips-5"
                    name="healthy_tips5"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Healthy Tips-6</label>
                  <input
                    type="text"
                    placeholder="Healthy Tips-6"
                    name="healthy_tips6"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Healthy Tips-7</label>
                  <input
                    type="text"
                    placeholder="Healthy Tips-7"
                    name="healthy_tips7"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-1">
                  <label>Sub Heading</label>
                  <input
                    type="text"
                    placeholder="Sub Heading"
                    name="sub_heading"
                  />
                </div>
                <!-- end input -->
                <div class="input-style-2">
                  <label>Disease Image</label>
                  <input type="text" placeholder="Image" name="image" />
                  <span class="icon"> <i class="lni lni-save"></i></span>
                </div>
                <!-- end input -->
                <button class="main-btn active-btn rounded-full btn-hover">
                  Submit
                </button>
              </div>
            </form>
            <!-- end card -->
            <!-- ======= input style end ======= -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== form-elements-wrapper end ========== -->
    </div>
    <!-- end container -->
  </section>
  <!-- ========== tab components end ========== -->

  <%- include('common/footer')%>
</main>
<!-- ======== main-wrapper end =========== -->
<%- include('common/foot')%>
