<%- include('common/head')%>
<!-- ======== Preloader =========== -->
<div id="preloader">
  <div class="spinner"></div>
</div>
<!-- ======== Preloader =========== -->

<%- include('common/sidebar')%>

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
  <%- include('common/navbar')%>

  <!-- ========== tab components start ========== -->
  <section class="tab-components">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>Form Elements</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#0">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#0">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Treatment Elements
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->

      <!-- ========== form-elements-wrapper start ========== -->
      <div class="form-elements-wrapper">
        <div class="row">
          <div class="col-lg-6">
            <!-- input style start -->
            <form action="/treatment/create" method="post">
              <div class="card-style mb-30">
                <h6 class="mb-25">Input Fields</h6>
                <div class="input-style-1">
                  <label>Treatment Title</label>
                  <input
                    type="text"
                    placeholder="Treatment Title"
                    name="treatment"
                  />
                </div>
                <!-- end input -->
                <div class="select-style-1">
                  <div class="select-position">
                    <select name="specialitiesid">
                      <option value="">Select Specialites</option>
                      <% for(let data of spec){%>
                      <option value="<%= data.id%>"><%= data.title%></option>
                      <%}%>
                    </select>
                  </div>
                </div>
                <button class="main-btn active-btn rounded-full btn-hover">
                  Submit
                </button>
              </div>
            </form>
            <!-- end card -->
            <!-- ======= input style end ======= -->
          </div>
          <!-- end col -->
          <div class="col-lg-6">
            <!-- input style start -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All Banner</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-hover">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Id</th>
                      <th>delete</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% for(let data of treat){%>
                    <tr>
                      <td><%=data.treatment%></td>
                      <td><%=data.specialitiesid%></td>
                      <td>
                        <a
                          href="/treatmentedit/<%= data._id%>"
                          class="btn btn-info"
                          >Edit</a
                        >
                      </td>
                    </tr>
                    <%} %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- end card -->
            <!-- ======= input style end ======= -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== form-elements-wrapper end ========== -->
    </div>
    <!-- end container -->
  </section>
  <!-- ========== tab components end ========== -->

  <%- include('common/footer')%>
</main>
<!-- ======== main-wrapper end =========== -->
<%- include('common/foot')%>
